*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sun{
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background: rgb(255, 81, 0);
    position: absolute;
    box-shadow: 0 0 75px rgba(255, 141, 0, 1);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('galaxy.jpg');
}

.earth{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: url('earth.jfif');
    position: relative;
    animation: earth-orbit 7s linear infinite;
}

/* moon */

.earth::after{
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    background: url('full-moon.webp');
    border: none;
    background-size: cover;
    animation: moon-orbit 3.5s linear infinite;

}

@keyframes earth-orbit{
       from{
         transform: rotate(0deg) translateX(220px) rotate(0deg);
       }
       to{
        transform: rotate(360deg) translateX(220px) rotate(-360deg);

       }
}



@keyframes moon-orbit{
    from{
      transform: rotate(0deg) translateX(75px) rotate(0deg);
    }
    to{
     transform: rotate(360deg) translateX(75px) rotate(-360deg);

    }
}

